.auth-container {
            min-height: 100vh;
            background: #f3f4f6;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 2rem;
            font-family: 'Inter', sans-serif;
            color: black;
            background-color: #88a9c9;
        
        }
.auth-container a{
    color: BLACK;
}
        .auth-logo {
            font-size: 2.5rem;
            font-weight: 800;
            color: #131921;
            margin-bottom: 2rem;
            text-decoration: none;
        }
        .auth-logo span { color: #f59e0b; }
        .auth-box {
            background: white;
            padding: 2rem;
            border-radius: 8px;
            border: 1px solid #ddd;
            width: 100%;
            max-width: 350px;
            box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
        }
        .auth-box h1 {
            font-size: 1.7rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
        }
        .form-group { margin-bottom: 1rem; }
        .form-group label {
            display: block;
            font-size: 0.8rem;
            font-weight: 700;
            margin-bottom: 0.3rem;
        }
        .form-group input {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #888;
            border-radius: 3px;
            outline: none;
        }
        .form-group input:focus {
            border-color: #e77600;
            box-shadow: 0 0 3px 2px rgba(228,121,17,0.5);
        }
        .auth-btn {
            width: 100%;
            background: #ffd814;
            border: 1px solid #fcd200;
            border-radius: 8px;
            padding: 0.5rem;
            font-size: 0.9rem;
            cursor: pointer;
            margin-top: 1rem;
            box-shadow: 0 2px 5px 0 rgba(213,217,217,0.5);
        }
        .auth-btn:hover { background: #f7ca00; }