.header{
    display:flex;
    flex-direction:row;
    height:50px;
    border: 2px solid black;
}
.middle-header{
    display:flex;
    flex-direction:row;
    flex:1;
    align-items:center;
    justify-content:center;
}
.middle-header input{
    height:40px;
    
}
.left-header{
    width:200px;
    background-color:red;
    height:100%;
}
.right-header{
    width:300px;
    background-color:yellow;
    height:100%;
}
.main-container{
    width:100%;
    height:400px;
    background-color:green;
}
h1{
    margin:0;
    padding:0;
}
.body-header{
    max-width:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    height:100px;
}